---
---

$red : #DC8E8E;
$blue : #8EBADC;
$green : #A8CC8A;
$yellow : #DCBC8E;
$white : #fff;
$bg : #fff; /*F4F2EE*/
$dark : #464C50;
$light : #727B82;

html{
	background-color:#c2d6be;
}

#image-credit p {
	font-size: 10px;
	background-color: #c2d6be;
	opacity: 45%;
	text-align: center;
	padding: 5px 0;
}

#wrapper {
	background-color:#fff;
	box-sizing: border-box;
	font-family: Times, serif;
}

*, ::before, ::after {
  box-sizing: inherit;
	margin:0;
	padding:0;
}

ul, li{
	list-style:none;
	margin:0;
	padding:0;
}

/*--- HEADER ---*/

header{
	height:400px;
	width:100%;
	color:#555;
}

#logo{
	width:40px;
	height:60px;
	float:left;
	svg{
		margin:5px 5px;
	}
}

.logo{
	path{
		 stroke-linejoin:round;
		 stroke-linecap:round;
		 stroke-width:2.5px;
		 stroke:#fff;
		 fill:transparent;
	}
}

#title, #contact-link{
	height:60px;
	line-height:60px;
}

#title{
	float:left;
	.sub{
		font-style:italic;
	}
}

#contact-link{
	font-size:16px;
	float:left;
	margin-right:20px;
	margin-top: -18px;
	padding-right:22px;
	font-weight:normal;
	background:{
		size:15px 14px;
		position:right 23px;
		repeat:no-repeat;
		image:url(../images/contact@2x.png);
	}
	a{
		color:#000000;
		text-decoration:none;
		&:hover{
			text-decoration:underline;
		}
	}
}

.content{
	&.expandable{
		display:block;
		overflow:hidden;
		max-height:250px;
		&.expanded{
			max-height:none;
			margin-bottom:75px;
		}
	}
}

.content{
	min-height: 150px;
}

h1,h2{
	font-size:30px;
	line-height:30px;
}

h1 a,h2 a{
	color: #000;
	text-decoration: none;
}

h1 a:hover, h2 a:hover{
	color:#6c9163;
}

h2{
	font-weight:400;
	font-size:26px;
}

#privacy {
	padding-top: 150px;
}

#impressum {
	padding-top: 150px;
}

/*--- DEFINITIONS FOR PUBLICATIONS ---*/

.publication table th{
	font-weight:bold;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 8px;
}

.publication table td{
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 8px;
}

.publication table{
	margin-bottom:10px;
	width:100%;
	border: 1px solid rgba(0, 0, 0, 0.1);	
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	line-height: 1.2857142857;
}

.pub-subline{
	text-align: center;
}

.pub-img{
	max-width:100%;
	display: block;
	clear:both;
	margin: 20px auto 0 auto;
}

figcaption{
	font-size:12px;
	text-align:center;
	display:block;
	padding:10px 0 50px 0;
}

/*--- SECTIONS ---*/

section{
	clear:both;
	padding:50px;
	width: 100%;
	max-width: 900px;
	margin:0 auto;
}

#teaser{
	display:block;
	width:100%;
	max-width:900px;
	margin:-250px auto;
	padding:50px 50px 50px 50px;
	background-color: #c2d6be;
}

#teaser h1, #teaser h2{
	float:left;
	clear:left;
}

#teaser p{
	clear:both;
}



#wrapper header{
	background-image:url(/images/background.jpeg);
}

.large-breaks{
	display:none;
}

#teaser p{
	font-size:15px;
	font-weight:200;
	// font-style:italic;
	padding-top:40px;
}

#teaser p a{
	text-decoration:none;
	color:#6c9163;
}

#teaser p a:hover{
	text-decoration:underline;
}

#contact{
	img{
		width:60%;
		margin:0 auto;
		padding-bottom: 20px;;
	}

	li{
		line-height:25px;
	}

	.inner-contact{
		padding-top:0px;
		padding-left:0px;
		display:inline-block;
		padding-bottom:30px;
	}

	h3{
		font-size:30px;
	}

	#copyright{
		clear:both;
		width:100%;
		padding-top:50px;
	}

	a{
		color:#6c9163;
		text-decoration:none;
		&:hover{
			text-decoration:underline;
		}
	}
}

#sec-nav{
	padding-top:280px;
}

#sec-nav>div{
	width: 100%;
	max-width: 900px;
	margin:0 auto;

	h3{
		font-size:20px;
		text-decoration:underline;		
		padding-bottom:20px;
	}

	li{
		display:inline;
		text-align:left;
		font-size:15px;
		font-weight:700;
		line-height:25px;
		padding-top:0;
		margin:0 20px 0 0;
		white-space:no-wrap;
		a{
			color:#000;
			text-decoration:none;
			&:hover{
				color:#6c9163;
				text-decoration:underline;
			}
		}
	}
}


#sec-copy{
	width:80%;
	margin:0 auto;
	max-width:740px;

	h1{
		font-size:24px;
	}

	&.publication h1{
		text-decoration: underline;
		display:block;
		text-align:center;
		padding-bottom:20px;
		font-size:28px;
	}

	h2{
		font-size:22px;
		font-weight:normal;
	}
	h3{
		font-size:18px;
		text-transform:uppercase;
		font-weight:normal;
	}
	p{
		padding-bottom:20px;
	}

	hr{
		margin:40px 0;
	}

	&.publication a{
		color:#000;
		&:hover{
			color:#6c9163;
		}
	}

}
#sec-publications h4{
	font-weight: normal;	
}

#sec-publications h5 {
	font-size: 12px;
	color: black;
}

#sec-publications a {
	color: #6c9163;
}

hr.divider{
	clear:both;
	visibility: hidden;
	margin-bottom:50px;
}

.section{
	h3{
		span{
			font-size:36px;
			line-height:36px;
			background-color:$bg;
			padding-right:5px;
			&.small-title{
				font-size:18px;
				font-weight:normal;
			}
		}
		overflow:visible;
	}
}

dl dt{
	font-weight:bold;
}

.references dt{
	float: left;
  margin-right: 15px;
}

dl dd{
	padding-bottom:10px;
}

.item-list{
	p{
		font-size:12px;
		padding:3px 0 0 0;
		a{
			font-style:italic;
			color:$dark;
			text-decoration:none;
			&:hover{
				text-decoration:underline;
			}
		}
	}

	li{
		padding: 30px 30px 0 0;
		// -webkit-column-break-inside: avoid;
		// page-break-inside: avoid;
		// break-inside: avoid;
		display:block;
		float:left;
	}
}

.expanded .hidden{
	display:list-item;
}

.hidden{
	display:none;
}

.item-list.small-list{
	.title h4, .title h5{
		font-size:16px;
	}

	p{
		font-size:12px;
		padding:3px 0 0 0;
		a{
			font-style:italic;
			color:$dark;
			text-decoration:none;
			&:hover{
				text-decoration:underline;
			}
		}
	}

	li{
		padding: 30px 30px 0 0;
		// -webkit-column-break-inside: avoid;
		// page-break-inside: avoid;
		// break-inside: avoid;
	}
}

.sec-work.item-list li{
	height:auto;
}

#sec-work .item-list li h4 a{
	color: #6c9163;
}	

#sec-work .item-list li p a {
	color: #6c9163;
}

.item-list{
	button{
		width:100px;
		text-align:center;
		cursor:pointer;
		color:black;
		padding:10px 15px;
		border:2px solid black;
		background:transparent;
		font-weight:bold;
		font-size:14px;
		outline:none;
		&:hover{
			background:black;
			color:$bg;
		}
	}
}

.tags{
	font-size:12px;
}

.title{
	padding-top:3px;
	h4,h5{
		display:inline;
		font-size:16px;
		a{
			text-decoration:none;
			color:#000;
			&:hover{
				text-decoration:underline;
			}
		}
	}
	h5{
		color:$dark;
		font-style:italic;
		a{
			color:#6c9163;
		}
	}
}

/*--- Footer ---*/

footer{
	clear:both;
	display:block;
	padding: 50px 60px 0 60px;
	color:#000;
	border-bottom:5px solid #e4ece2;
	background:#e4ece2;
}

/*--- Responsive ---*/

@media (min-width: 600px) {
	footer{
		padding: 50px 80px 0 80px;
	}

	#teaser p{
		padding:50px 50px 0 0;
	}

	#contact{
		img{
			width:20%;
			max-width:500px;
			float:left;
			margin:0;
		}

		.inner-contact{
			padding-left:30px;
		}
	}

	ul.item-list{
		// column-fill: balance;
		// -moz-column-fill: balance;
		// -webkit-column-fill: balance;
		// column-count:2;
		// column-width:50%;
		// column-gap:0;	
		li {
			width:45%;
			margin:0 2.5%;
			&.col-3{
				clear:both;
			}
		}
	}
	// #sec-work .item-list li{
	// 	height:200px;
	// }

	#contact-link{
		font-size:20px;
		float:right;
		font-weight:800;
	}
}

@media (min-width: 700px) {
	#teaser{
		padding:70px 50px 80px 50px;
	}
	#teaser p{
		padding:50px 0 0 0;
		font-size:18px;
	}
	.large-breaks{
		display:inline;
	}
}

@media (min-width: 900px) {
	ul.item-list{
		// column-count:3;
		// column-width:33%;
		// column-gap:0;	
		li{
			width:30%;
			margin:0 1.5%;
			&.col-3{
				clear:none;
			}
			&.col-4{
				clear:both;
			}
		}
	}
	#sec-work {
		padding-top: 10px;
	}

	#sec-work .item-list li{
		// height:170px;
		// margin-bottom: 30px;
	}


}

@media (min-width: 1200px) {
	ul.item-list{
		// column-count:3;
		// column-width:33%;
		// column-gap:0;
		li{
			width:30%;
			margin:0 1.5%;
		}
	}	
}