---
layout: index
---
	<section id="sec-nav">
		<div>
			<h3>Curriculum Vitae</h3>
			<ul class="nav-list">
				<li><a href="#sec-work">1. Work</a></li>
				<li><a href="#sec-education">2. Education</a></li>
				<li><a href="#sec-teaching">3. Teaching</a></li>
				<li><a href="#sec-talks">4. Talks</a></li>
				<li><a href="#sec-publications">5. Publications</a></li>
				<li><a href="#sec-funding">6. Funding &amp; Awards</a></li>
				<li><a href="#sec-other">7. Other</a></li>
			</ul>
		</div>
	</section>
	<section id="sec-work" class="section">
		<div class="content">
		    <h3><span>1. — Work</span></h3>
		    <ul class="item-list">
{% for work in site.data.work %}
          <li>
            <div class="tags"><span class="tag date">{{ work.date }}</span> — <span class="tag geo">{{ work.geo }}</span></div>
            <div class="title">
                <h4>{{ work.title }}</h4>,
                <h5>
                  {% if work.link != "" %}<a href="{{ work.link }}">{% endif %}
                    {{ work.organisation }}
                  {% if work.link != "" %}</a>{% endif %}
                </h5>
            </div>
            <p>{{ work.description }}</p>
          </li>
{% endfor %}
		    </ul>
		</div>
	</section>
	<section id="sec-education" class="section">
		<div class="content">
		    <h3><span>2. — Education</span></h3>
		    <ul class="item-list">
{% for education in site.data.education %}
            <li>
                <div class="tags"><span class="tag date">{{ education.date }}</span> — <span class="tag geo">{{ education.geo }}</span></div>
                <div class="title">
                    <h4>{{ education.title }}</h4>, <h5>{{ education.department }}, <a href="{{ education.link }}">{{ education.university }}</a></h5></div>
                <p>{{ education.description }}{% if education.more != "" %} <a href="{{ education.more }}">Read&nbsp;more&nbsp;»</a>{% endif %}</p>
            </li>
{% endfor %}
		    </ul>
		</div>
	</section>
	<section id="sec-teaching" class="section">
		<div class="content sec-teaching-content">
		    <h3><span>3. — Teaching</span></h3>
		    <ul class="item-list small-list">
{% for teaching in site.data.teaching %}
          <li{% if forloop.index > 5 %} class="more"{% endif %}>
              <div class="tags"><span class="tag date">{{ teaching.date }}</span> — <span class="tag type">{{ teaching.type }}</span></div>
              <div class="title">
                  <h4>{{ teaching.title }}, </h4>
                  <h5>{{ teaching.geo }}</h5>
              </div>
          </li>
{% endfor %}
		        <li>
		        	<button class="sec-teaching-button" onclick="toggleSection('teaching');">+&nbsp;Expand</button>
		        </li>
		    </ul>
		</div>
	</section>
	<section id="sec-talks" class="section">
		<div class="content sec-talks-content">
		    <h3><span>4. — Talks</span> <span class="small-title">(selection)</span></h3>
		    <ul class="item-list small-list">
{% for talks in site.data.talks %}
            <li{% if forloop.index > 5 %} class="more"{% endif %}>
                <div class="tags"><span class="tag date">{{ talks.date }}</span> — <span class="tag type">{{ talks.geo }}</span></div>
                <div class="title">
                    <h4>{{ talks.title }}, </h4>
                    <h5>{{ talks.event }}</h5>
                </div>
            </li>
  {% endfor %}
		        <li>
		        	<button class="sec-talks-button" onclick="toggleSection('talks');">+&nbsp;Expand</button>
		        </li>
		    </ul>
		</div>
	</section>
	<section id="sec-publications" class="section">
		<div class="content sec-publications-content">
		    <h3><span>5. — Publications</span></h3>
		    <ul class="item-list small-list">
{% for publications in site.data.publications %}
            <li{% if forloop.index > 5 %} class="more"{% endif %}>
                <div class="tags"><span class="tag date">{{ publications.date }}</span> — <span class="tag type">{{ publications.type }}</span></div>
                <div class="title">
                    <h5>{{ publications.authors }}, </h5>
                    <h4>{{ publications.title }}</h4>
                </div>
                <p>{{ publications.publication }}</p>
            </li>
{% endfor %}
		       	<li>
		        	<button class="sec-publications-button" onclick="toggleSection('publications');">+&nbsp;Expand</button>
		        </li>
		    </ul>
		</div>
	</section>
	<section id="sec-funding" class="section">
		<div class="content sec-funding-content">
		    <h3><span>6. — Funding &amp; Awards</span></h3>
		    <ul class="item-list">
{% for funding in site.data.funding %}
          <li{% if forloop.index > 5 %} class="more"{% endif %}>
              <div class="tags"><span class="tag date">{{ funding.date }}</span> — <span class="tag type">{{ funding.geo }}</span></div>
              <div class="title">
                  <h4>{{ funding.organisation }}</h4>
                  <h5>{{ funding.type }}, </h5>
              </div>
              <p>{{ funding.description }}</p>
          </li>
{% endfor %}
				  <li>
		        <button class="sec-funding-button" onclick="toggleSection('funding');">+&nbsp;Expand</button>
		      </li>
		    </ul>
		</div>
	</section>
	<section id="sec-activites" class="section">
		<div class="content">
		    <h3><span>7. — Other Activities</span></h3>
		    <ul class="item-list">
{% for other in site.data.other %}
          <li>
              <div class="tags"><span class="tag date">{{ other.date }}</span> — <span class="tag type">{{ other.geo }}</span></div>
              <div class="title">
                  <h4>{{ other.title }}</h4>
                  <h5>{{ other.type }}, </h5>
              </div>
              <p>{{ other.description }}</p>
          </li>
{% endfor %}
		    </ul>
		</div>
	</section>