---
layout: index
---
	<section id="sec-nav">
		<div>
			<h3>Curriculum Vitae</h3>
			<ul class="nav-list">
				<li><a href="#sec-work">1.&nbsp;Work</a></li>
				<li><a href="#sec-education">2.&nbsp;Education</a></li>
				<li><a href="#sec-publications">3.&nbsp;Publications</a></li>
				<li><a href="#sec-teaching">4.&nbsp;Teaching</a></li>
				<li><a href="#sec-talks">5.&nbsp;Talks</a></li>
				<li><a href="#sec-funding">6.&nbsp;Grants &amp; Stipends</a></li>
			</ul>
		</div>
	</section>
	<section id="sec-work" class="section">
		<div class="content">
		    <h3><span>1. Work</span></h3>
		    <ul class="item-list">
{% for work in site.data.work %}
{% assign mod4 = forloop.index | minus:1 | modulo:3 %}
{% assign mod3 = forloop.index | minus:1 | modulo:2 %}
		  <li class="{% if mod4 == 0 %}col-4 {% endif %}{% if mod3 == 0 %}col-3 {% endif %}">
            <div class="tags"><span class="tag date">{{ work.date }}</span> — <span class="tag geo">{{ work.geo }}</span></div>
            <div class="title">
                <h4>{{ work.title }}</h4>,
                <h5>
                  {% if work.link and work.link != "" %}<a href="{{ work.link }}">{% endif %}
                    {{ work.organisation }}
                  {% if work.link and work.link != "" %}</a>{% endif %}
                </h5>
            </div>
            <p>{{ work.description }}</p>
          </li>
{% endfor %}
		    </ul>
		</div>
	</section>
	<section id="sec-education" class="section">
		<div class="content">
		    <h3><span>2. Education</span></h3>
		    <ul class="item-list">
{% for education in site.data.education %}
{% assign mod4 = forloop.index | minus:1 | modulo:3 %}
{% assign mod3 = forloop.index | minus:1 | modulo:2 %}
		  <li class="{% if mod4 == 0 %}col-4 {% endif %}{% if mod3 == 0 %}col-3 {% endif %}">
                <div class="tags"><span class="tag date">{{ education.date }}</span> — <span class="tag geo">{{ education.geo }}</span></div>
                <div class="title">
                    <h4>{{ education.title }}</h4>, <h5>{{ education.department }}, <a href="{{ education.link }}">{{ education.university }}</a></h5></div>
                <p>{{ education.description }}</p>
            </li>
{% endfor %}
		    </ul>
		</div>
	</section>
	<section id="sec-publications" class="section">
		<div class="content sec-publications-content">
		    <h3><span>3. Publications</span></h3>
		    <ul class="item-list small-list">
{% for publications in site.data.publications %}
{% assign mod4 = forloop.index | minus:1 | modulo:3 %}
{% assign mod3 = forloop.index | minus:1 | modulo:2 %}
		  <li class="{% if mod4 == 0 %}col-4 {% endif %}{% if mod3 == 0 %}col-3 {% endif %}{% if forloop.index > 9 %}more{% endif %}">
                <div class="tags">
					<span class="tag date">{{ publications.date }}</span> — <span class="tag type">{{ publications.type }}</span>
				</div>
                <div class="title">
					<h5>{{ publications.authors }},</h5>
					<h4>{% if publications.link and publications.link != "" %}<a href="{{ publications.link }}">{% endif %}
						{{ publications.title }}
						{% if publications.link and publications.link != "" %}</a>{% endif %}</h4>
                </div>
                <p>{{ publications.publication }}</p>
            </li>
{% endfor %}
			<li>
				<button class="sec-publications-button" onclick="toggleSection('publications');">+&nbsp;Expand</button>
			</li>
		    </ul>
		</div>
	</section>
	<section id="sec-teaching" class="section">
		<div class="content sec-teaching-content">
		    <h3><span>4. Teaching</span></h3>
		    <ul class="item-list small-list">
{% for teaching in site.data.teaching %}
{% assign mod4 = forloop.index | minus:1 | modulo:3 %}
{% assign mod3 = forloop.index | minus:1 | modulo:2 %}
		  <li class="{% if mod4 == 0 %}col-4 {% endif %}{% if mod3 == 0 %}col-3 {% endif %}">
              <div class="tags"><span class="tag date">{{ teaching.date }}</span> — <span class="tag type">{{ teaching.type }}</span></div>
              <div class="title">
                  <h4>{{ teaching.title }}, </h4>
                  <h5>{{ teaching.geo }}</h5>
              </div>
          </li>
{% endfor %}
		    </ul>
		</div>
	</section>
	<section id="sec-talks" class="section">
		<div class="content sec-talks-content">
		    <h3><span>5. Talks</span> <span class="small-title">(selection)</span></h3>
		    <ul class="item-list small-list">
{% for talks in site.data.talks %}
{% assign mod4 = forloop.index | minus:1 | modulo:3 %}
{% assign mod3 = forloop.index | minus:1 | modulo:2 %}
		  <li class="{% if mod4 == 0 %}col-4 {% endif %}{% if mod3 == 0 %}col-3 {% endif %}">
                <div class="tags"><span class="tag date">{{ talks.date }}</span> — <span class="tag type">{{ talks.geo }}</span></div>
                <div class="title">
                    <h4>{{ talks.title }}, </h4>
                    <h5>{{ talks.event }}</h5>
                </div>
            </li>
  {% endfor %}
			<li>
				<button class="sec-talks-button" onclick="toggleSection('talks');">+&nbsp;Expand</button>
			</li>
		    </ul>
		</div>
	</section>

	<section id="sec-funding" class="section">
		<div class="content sec-funding-content">
		    <h3><span>6. Grants &amp; Stipends</span></h3>
		    <ul class="item-list">
{% for funding in site.data.funding %}
{% assign mod4 = forloop.index | minus:1 | modulo:3 %}
{% assign mod3 = forloop.index | minus:1 | modulo:2 %}
			<li class="{% if mod4 == 0 %}col-4 {% endif %}{% if mod3 == 0 %}col-3 {% endif %}">
              <div class="tags"><span class="tag date">{{ funding.date }}</span> — <span class="tag type">{{ funding.geo }}</span></div>
              <div class="title">
                  <h4>{{ funding.organisation }}</h4>
                  <h5>{{ funding.type }}, </h5>
              </div>
              <p>{{ funding.description }}</p>
          </li>
{% endfor %}
		    </ul>
		</div>
	</section>
	<hr class="divider" />