<footer id="contact">
    <img src="{{ "./images/IMG_2906-x0.5.jpg" | absolute_url }}" srcset="{{ "./images/IMG_2906-x0.5.jpg" | absolute_url }} 500w, {{ "./images/IMG_2906.jpg" | absolute_url }} 1000w" alt="Photo of Sebastian Meier" />
    <div class="inner-contact">
      <h3>Contact</h3>
      <ul>
        <li>Email: <a href="mailto:kontakt@katringlinka.de">kontakt@katringlinka.de</a></li>
        <li>Twitter: <a href="https://twitter.com/kaglinka">@kaglinka</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/katrin-glinka-19160893/">Katrin Glinka</a></li>
        <li style="margin-top:30px;"><a href="{{ "/privacy" | absolute_url }}">Privacy Policy / Datenschutz</a></li>
        <li><a href="{{ "/legal" | absolute_url }}">Site Notice / Impressum</a></li>
      </ul>
    </div>
    <div id="copyright"></div>
  </footer>

  <div id="image-credit">
    <p>Background image: tapet, Länsmuseet Gävleborg, CC BY-SA</p>
  </div>